/*
sim font: #fff89d
sim offline font: #969696

inset bg #32455b
gradient light #96bad0
gradient dark #527aa4

bg dark gradient dark #476a8d
bg dark gradient light #5f88af
inset bg darker #2f4158

bg fallback #7ca1bf

bg thumbnail light #00bedc
bg thumbnail dark #002594
bg thumbnail fallback #016abb
bg thumbnail border #395273

outset title bg #5077a3
*/

@font-face {
    font-family: "FreeSO Font";
    src: url(../fonts/FreeSOFont.otf);
}

body {
    font-family: 'FreeSO Font', cursive;
    background-color: #7ca1bf;
    background-image: linear-gradient(90deg, #476a8d, #5f88af);
    text-shadow: 0px 2px 1px black;

    color:#fff89d;
    font-size: 100%;
}

.container {
    display: flex;
    flex-wrap:  wrap;
    align-content: space-evenly;
    gap: 1em;
}

.container div{
    /* outline: 10px solid red; */
}

.div-sim-table {
    width: fit-content;
    height: fit-content;
}

.div-lot-table {
    width: fit-content;
    height: fit-content;
}

.div-focus-view {
    width: fit-content;
    height: fit-content;
    flex: 1;
}

.block-background {
    background-color: red;
    border-radius: 45px 45px 45px 45px;
    background-image: linear-gradient(90deg, #96bad0, #5f88af);

    box-shadow: -3px -3px 4px 3px rgba(0, 0, 0, 0.3) inset,
                3px 3px 4px 2px rgba(255, 255, 255, 0.5) inset;
}

.inset-title {
    width: fit-content;
    
    margin: 10px auto 10px auto;
    padding: 4px 12px 4px 12px;

    font-size: clamp(1.5em, 1vw, 2em);
    text-align: center;
    letter-spacing: 0.05em;

    border-radius: 25px 25px 25px 25px;
    border-collapse: collapse;
    overflow: hidden;

    background-color: #2f4158;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.4) inset,
                0px -1px 1px 3px rgba(0, 0, 0, 0.35),
                0px 3px 1px 3px rgba(255, 255, 255, 0.15);
}

.outset-title {
    width: fit-content;

    margin: 10px auto 10px auto;
    padding: 4px 12px 4px 12px;

    font-size: clamp(1.5em, 1vw, 2em);
    text-align: center;
    letter-spacing: 0.05em;

    border-radius: 25px 25px 25px 25px;
    border-collapse: collapse;
    overflow: hidden;

    background-color: #5077a3;
    box-shadow: -5px -5px 4px 3px rgba(0, 0, 0, 0.4) inset,
                3px 3px 4px 3px rgba(255, 255, 255, 0.5) inset;
}

.user-offline {
    color: #969696;
}

.mouse-over-list-index {
    color: white;
}