.div-nhood-watch {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0em;
}

.div-nhood-watch-title {
    align-self: center;
}

.div-nhood-context {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -18px;
}