.list-table {
    cursor: default;

    margin: 10px 25px 35px 25px;

    background-color: #32455b;
    color: #fff89d;
    font-size: clamp(0.9em, calc(1 * 1vw), 1.25em);
    white-space: nowrap;
    
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;

    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.35) inset, 
                0px -1px 1px 3px rgba(0, 0, 0, 0.35),
                0px 3px 1px 3px rgba(255, 255, 255, 0.15);
}

.list-table thead tr th {
    color:white;
    font-weight: bold;
    padding: 6px 10px;
}

.list-table td:nth-child(1), .list-table thead tr th:nth-child(1) {
    text-align: left;
}

.list-table td:nth-child(2), .list-table thead tr th:nth-child(2) {
    width: 1%;
    text-align: right;
}

.list-table tr td {
    padding: 3px 10px;
}

.table-row-selected {
    background-color: #fac98c;
    color: black;
    text-shadow: none;
}