.div-market-watch {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0em;
}

.div-market-watch-title {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.div-market-watch-title img {
    position: relative;
    top: 15px;
    width: 50px;
    height: 31px;
    margin: 0px 10px;
}

.div-market-context {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -18px;
}

.market-watch-content {
    flex: 1;
    min-width: fit-content;
    font-size: clamp(0.9em, calc(1.1 * 1vw), 1.1em);
}